*{
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  overflow-x: hidden;
} */
/*
.container-lg {
  max-width: 1000px; 
}
*/

  

@media (min-width: 1600px) {
  .container-lg {
      max-width: 1440px; /* Augmente la largeur maximale sur très grands écrans */
  }
  .nav-item .nav-link{
    font-size: 1.2rem !important;
  }
  .ftd{
    font-size: 1rem !important;
  }
  .divv{
    width: 80% !important;
  }
}
@media (min-width: 2700px) {
  .divv{
    width: 70% !important;
  }
  /* .carousel-item img{
    height: 60vh !important;
  } */
}
/* @media (min-width: 2000px) {
  .carousel-item img{
    height: 60vh !important;
  }
} */
.nav-item .nav-link{
  font-size: 1rem;
}
.ftd{
  font-size: 1rem;
}
/*  */
.pos{
  position: absolute;
  top: 30%;
  left: 10%;  
  width: 30%;
}

@media (max-width: 1230px) {
  .pos{
    position: absolute;
    top: 20%;
    left: 10%;  
    width: 50%;
  }
}
@media (max-width: 900px) {
  .pos{
    position: absolute;
    top: 20%;
    left: 10%;  
    width: 50%;
  }
  /* .carousel-item img{
    height: 50vh !important;
  } */
  .pos p strong {
    font-size: 1rem !important;
  }
  .pos h1{
    font-size: 2rem !important;
  }
}
@media (max-width: 592px) {
  .pos{
    position: absolute;
    top: 10%;
    left: 10%;  
    width: 70% !important;
  }
   .carousel-item img{
    height: 60vh !important;
  }
  .pos p strong {
    font-size: 1rem !important;
  }
  .pos h1{
    font-size: 2rem !important;
  }
  .buuton{
    white-space: none;
  }
}
@media (max-width: 430px) {
  .pos{
    position: absolute;
    top: 10%;
    left: 10%;  
    width: 70% !important;
  }
   .carousel-item img{
    height: 80vh !important;
  }
  .pos p strong {
    font-size: 1rem !important;
  }
  .pos h1{
    font-size: 2rem !important;
  }
  .buuton{
    white-space: none;
  }
}

.relative{
  position: relative;
}
.ppos{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.ccsc{
  width: 450px !important;
}
.hero {
  background-image: url('image/8.png');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero1{
  background-image: url('image/9.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}



.form{
  border: 1.5px solid black;
  border-radius: 0;
}
.pot{
  position: absolute;
  top: -2rem;
  right: 7rem;
}


.break{
  word-wrap: break-word; 
  word-break: break-word;
}
.tto{
    position: absolute;
    top: 74%;
    transform: translateY(-50%);
    left:0;
    right: 20%;
    width: 5rem;
  }
  .text-container {
    position: relative;
    width: 100%; /* largeur de la div */
    min-height: 50px; /* hauteur limitée */
    overflow: hidden; /* Masque le texte qui dépasse */
  }
  
  .text-content {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    max-height: 70px; /* limite la hauteur initiale */
    overflow: hidden;
    text-overflow: ellipsis; /* Affiche "..." à la fin lorsque le texte est trop long */
  }
  
  .show-more {
    position: absolute;
    bottom: -.5rem;
    right: -.3rem;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 5px;
    display: block;
    z-index: 1000;
  }
  
  .text-container.expanded .text-content {
    max-height: none; /* Lève la limite de hauteur lorsque l'on clique */
  }
  
  .text-container.expanded .show-more {
    display: none; /* Cache les points de suspension une fois étendu */
  }


  /* carousel2 */

.unique-carousel-container {
    position: relative;
    overflow: hidden;
    margin: auto;
}

.unique-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.unique-carousel-item {
    min-width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 40px;
}

/* Modification des boutons de navigation pour les placer à gauche et à droite */
.unique-carousel-buttons {
    position: absolute;
    top: 50% !important;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10000;
}

.unique-prev {
    position: absolute;
    left: -2% !important;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000 !important;
}

.unique-next {
    position: absolute;
    right: -3% !important;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001 !important;
}

.unique-carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.unique-pagination-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.unique-pagination-dot.active {
    background-color: #000;
}

@media (max-width: 992px) {
    .unique-carousel-item {
        min-width: 50%;
    }
}

@media (max-width: 600px) {
    .unique-carousel-item {
        min-width: 100%;
    }
}

/* carousel3 */
.custom-carousel-wrapper {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  /* max-width: 1400px; */
  margin: auto;
}

.custom-carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-carousel-item {
  min-width: 33.3333%;
  box-sizing: border-box;
  padding: 10px;
}

.custom-carousel-item img {
  width: 100%;
  border-radius: 10px;
}

.custom-navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-navigation-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
}

.custom-pagination-container {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.custom-pagination-dot {
  width: 10px;
  height: 10px;
  background-color: #61BC45;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination-dot.active {
  background-color: #61BC45;
  width: 13px;
  height: 13px;
}

@media (max-width: 992px) {
  .custom-carousel-item {
      min-width: 50%;
  }
}

@media (max-width: 600px) {
  .custom-carousel-item {
      min-width: 100%;
  }
}

